/* .bg1{
    background-image: url('../assets/car-battery-life.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
  } */


@import url('https://fonts.googleapis.com/css?family=Corben:700');

h1 {
	font-family: 'Corben', cursive;
	font-size: 6rem;
	color: black;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.our_services{
  padding-top: 50px;
  padding-bottom: 50px;
  /* height: 480px; */
}

.our_services h1{
  font-size: 42px!important;
  /* font-weight: bold; */
  padding-bottom: 42px;
}


.our_services p{
  font-size: 20px;
  padding-bottom: 0px;
}

.imgsetting{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: lightslategrey;
}

.fa-truck{
  padding-top: 25%;
  height: 100px;
  width: 100px;
}

.fa-check{
  padding-top: 25%;
  height: 100px;
  width: 100px; 
}


.fa-cart-arrow-down{
  padding-top: 25%;
  height: 100px;
  width: 100px;
}

.grid1{
  width: 100%;
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/mian_.jpg');
  /* background-size: 100% auto; */
}

.grid1 h1{
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 64px;
  padding-top: 210px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(10, 1, 1, 0.99)!important;
}

.grid1 p{
  font-weight: bold;
  text-shadow: 5px 0px 5px rgba(15, 1, 1, 0.99)!important;
}

.footer_desc{
  padding-top: 20px;
}


.service_desc h2{
  padding-top: 25px;
  font-size: 24px;
  max-lines: 2;
}

.service_desc p{
  /* padding-top: 18px; */
  font-size: 18px;
}

.about_ous_2{
  /* float: right;
  align-content: right; */
  padding-top: 80px;
  padding-left: 60px;
}

.about_ous_2 h5{
  /* float: right;
  align-content: right; */
  padding-top: 20px;
}
.about_ous_2 p{
  padding-top: 10px;
  text-align: justify;
}


.contact_us_from{
  padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 40px;
}

.contact_us_from h1{
  font-size: 46px;
  padding-bottom: 40px;
}

.form-control-style{
  background: transparent!important;
  border: none!important;
  outline: none!important;
  border-bottom: 2px solid white!important;
}

.submit-btn{
  /* background:rgb(11, 11, 133)!important; */
  /* color: blue; */
  width: 100%!important;
}


.get-in-touch{
  background: #00C9FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.get-intouch-icon{
  padding-top: 72px;
}

